.game-deck-cell {
    width: 36px;
    height: 36px;
    background: #303f9f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.2s;
    position: relative;
}

.game-deck-cell:hover {
    background: #7986cb;
}

.game-deck-cell:active {
    transform: scale(0.9);
}

.clicked {
    background: transparent;
}

.clicked:hover {
    background: transparent;
}

@keyframes showCells {
    100% {
        transform: scale(1);
    }
}